<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h1>Hello {{ name|capitalize }}!</h1>
    <small>Create the {{ date|date('Y-m-d') }}</small>
</body>
</html>